<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student</title>
  </head>
  <body>
    <h1>Edit Student</h1>
    <form method="POST" action="/students/<%= student._id %>?_method=PUT"">
      <input type="text" name="name" value="<%= student.name %>" required />
      <input type="number" name="age" value="<%= student.age %>" required />
      <input type="text" name="grade" value="<%= student.grade %>" required />
      <button type="submit">Update Student</button>
    </form>
  </body>
</html>
